.question, .answer { margin: 20px; font-size: 20px; }
#revealBtn { margin: 20px; font-size: 16px; cursor: pointer; }


.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flashcard {
    width: 400px;
    height: 200px;
    perspective: 1000px; /* Adjust the perspective to change the depth effect */
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    transition: transform 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow to create depth */
}

.back {
    transform: rotateY(180deg);
}

.flipped .front {
    transform: rotateY(-180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}



